// $Id$
//Custom styles for the FiveAlive Watermelon option theme.

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //
$white:    #fff;
$black:    #000;
$light: #b51360;

$bg-dark: #a51e37;

$link-color: #c21e3b;
$link-hover-color: #ee2e52;
// $btn-primary-color: #ffffff;
// $btn-primary-bg: #e1360d;
// $btn-primary-border: #e78c77;
// $btn-primary-focus-color: #ffffff;
// $btn-primary-focus-bg: #97172e;
// $btn-primary-border: #bc213d;
// $btn-primary-hover-color: #ffffff;
// $btn-primary-hover-bg: #97172e;
// $btn-primary-hover-border: #de425e;
// $btn-primary-active-color: #ffffff;
// $btn-primary-active-bg: #97172e;
// $btn-primary-active-border: #de425e;
// $btn-primary-active-hover-bg-color: #781224;
// $btn-primary-active-hover-border: #bc213d;
// $btn-primary-disabled-hover: #e1640b;
// $btn-primary-disabled-border: #e7768a;
// $btn-primary-badge-color: #e1360d;
// $btn-primary-badge-bg: #ffffff;

// $btn-secondary-bg: #b51360;
// $btn-secondary-border: #8e01d4;
// $btn-secondary-focus-bg: #4e0174;
// $btn-secondary-focus-border: #390055;
// $btn-secondary-hover-bg: #4e0174;
// $btn-secondary-border: #650197;
// $btn-secondary-active-bg: #4e0174;
// $btn-secondary-border: #650197;
// $btn-secondary-active-hover-bg: #4e0174;
// $btn-secondary-active-hover-border: #390055;
// $btn-secondary-disabled-hover-color: #b51360;
// $btn-secondary-disabled-hover-border: #8e01d4;
// $btn-secondary-badge-color: #b51360;
// $btn-secondary-bg-color: #ffffff;

// $btn-info-color: #fff;
// $btn-info-bg: #e5d7dc;
// $btn-info-border: #e5d0cf;
// $btn-info-focus-color: ;
// $btn-info-focus-bg: ;
// $btn-info-focus-border: ;
// $btn-info-hover-color: $btn-info-color;
// $btn-info-hover-bg: lighten($btn-info-bg, 10%);
// $btn-info-hover-border: lighten($btn-info-border, 10%);
// $btn-info-active-color: ;
// $btn-info-active-bg: darken($btn-info-bg, 5%);
// $btn-info-active-border: ;
// $btn-info-active-hover: ;
// $btn-info-active-hover-border: ;
// $btn-info-disabled-hover-color: ;
// $btn-info-disabled-hover-border: ;
// $btn-info-badge-color: ;
// $btn-info-badge-bg: ;

$navbar-dark-color:                 rgba($white, .75);
$navbar-dark-hover-color:           rgba($white, .85);
$navbar-dark-active-color:          $white;
$navbar-dark-disabled-color:        rgba($white, .25);
$navbar-light-color:                rgba($black, .5);
$navbar-light-hover-color:          rgba($black, .7);
$navbar-light-active-color:         rgba($black, .9);
$navbar-light-disabled-color:       rgba($black, .3);

// navbar link hover colors
$bg-dark-link-hover-color: #f2f2f2;
$bg-dark-link-hover-bg: #003c4a;


$hr-border-color: #faada1;

$navbar-fixed-top-bg: #a51e37;
$bg-dark: #a51e37;
$bg-light: #e71e40;
$card-border-color: #49006c;
$table-border-color: #faada1;
$table-accent-bg: #f9f9f9;
$table-hover-bg: #f5f5f5;

$input-color: #555555;
$input-bg: #ffdace;
$input-border-color: #faada1;
$input-border-top-color: #faada1;
$input-border-right-color: #fcf6f9;
$input-border-bottom-color: #fcf6f9;
$input-border-left-color: #faada1;

$dropdown-bg: #e71e40; // #771437
$dropdown-border-color: rgba(0, 0, 0, 0.15);

$dropdown-link-color: #ffffff;
$dropdown-link-hover-color: #f9f9f9;
$dropdown-link-hover-bg: #a61a32; // #61102d
$dropdown-link-active-color: #ffffff;
$dropdown-link-active-bg: $dropdown-link-hover-bg; // #61102d
$dropdown-link-disabled-color: #f2f2f2;
$dropdown-header-color: #ffffff;
$dropdown-divider-bg: $dropdown-bg;

$nav-tabs-link-color: #000;
$nav-tabs-link-bg: $input-bg;
$nav-tabs-link-active-color: #fff;
$nav-tabs-link-active-bg: $dropdown-link-hover-bg;

$nav-pills-link-active-bg: #b51360;
$pagination-color: #b51360;
$pagination-bg: #ffffff;
$pagination-border-color: #dddddd;
$pagination-hover-color: #b51360;
$pagination-hover-bg: #eeeeee;
$pagination-hover-border-color: #dddddd;
$pagination-active-bg: #b51360;
$pagination-active-border-color: #b51360;
$pagination-disabled-color: #999999;
$pagination-disabled-bg: #ffffff;
$pagination-disabled-border-color: #dddddd;

$theme-colors: (
		"light":			#e71e40,
		"dark":				#a51e37
);

$enable-gradients: true;
$enable-shadows: true;

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //
$bg-light-alt: #851e0e !important;

$side-column-heading-color: #6c0c02;

$middle_outer-inset-shadow-bg: #35061d;
$footer_liner-card-inner-border: #b51360;

$footer-accent-color: #b51360;
$footer-btn-secondary-color: #f4f4f4;
$footer_liner-border-color: $footer-accent-color;

$autotoc-nav-bg: #771437;
$autotoc-color: #ffffff;
$autotoc-nav-link-hover-color: #f2f2f2;
$autotoc-nav-link-hover-bg: #61102d;

// - - - - - - - - - -  - - - - - - Other CSS, if any - - - - - - - - - - - - - - - - - //

.header_outer,
.layout_basic #top_modules,
.postbody-title,
.tiki > .navbar.fixed-top.bg-dark,
//.topbar, .navbar-dark, .topbar .navbar-dark .navbar-nav > li, .topbar .nav > li,
.bg-dark {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b3135f+0,b61261+9,c21069+18,e70b80+69,ea0a81+100 */
  background: #b3135f !important; /* Old browsers */
  background: -moz-linear-gradient(left,  #b3135f 0%, #b61261 9%, #c21069 18%, #e70b80 69%, #ea0a81 100%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #b3135f 0%,#b61261 9%,#c21069 18%,#e70b80 69%,#ea0a81 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #b3135f 0%,#b61261 9%,#c21069 18%,#e70b80 69%,#ea0a81 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3135f', endColorstr='#ea0a81',GradientType=1 ); /* IE6-9 */
}

//.bg-dark {background: #35061d !important; }
$autotoc-nav-bg: #ffffff;
$autotoc-nav-border: #e71e40;
$autotoc-color: #c21e3b;
$autotoc-nav-li-link-hover-color: #f2f2f2;
$autotoc-nav-li-link-hover-bg: #76142a;
$middle_outer-inset-shadow-bg: #35061d;
$postbody-title-card-title-color: #fff;