// $Id$
//Custom styles for the FiveAlive Lemon option theme.

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //
$white:    #fff;
$black:    #000;
$light: #f9a013;

$bg-light: #f9a013 !important;

$link-color: #c75a28;
$link-hover-color: #f9a013;

//$btn-primary-color: #ffffff;
//$btn-primary-bg: #f9a013;
//$btn-primary-border: #f4bb06;
//$btn-primary-focus-color: #ffffff;
//$btn-primary-focus-bg: #d2a100;
//$btn-primary-border: #ebba00;
//$btn-primary-hover-color: #ffffff;
//$btn-primary-hover-bg: #d2a100;
//$btn-primary-hover-border: #c89900;
//$btn-primary-active-color: #ffffff;
//$btn-primary-active-bg: #d2a100;
//$btn-primary-active-border: #c89900;
//$btn-primary-active-hover-bg-color: #ae8600;
//$btn-primary-active-hover-border: #856600;
//$btn-primary-disabled-hover: #f9a013;
//$btn-primary-disabled-border: #ffc506;
//$btn-primary-badge-color: #f9a013;
//$btn-primary-badge-bg: #ffffff;

// $btn-secondary-bg: #ffc506;
// $btn-secondary-border: #ffc506;
// $btn-secondary-focus-bg: #d2a100;
// $btn-secondary-focus-border: #856600;
// $btn-secondary-hover-bg: #d2a100;
// $btn-secondary-border: #c89900;
// $btn-secondary-active-bg: #d2a100;
// $btn-secondary-border: #c89900;
// $btn-secondary-active-hover-bg:#856600;
// $btn-secondary-active-hover-border: #856600;
// $btn-secondary-disabled-hover-bg: #ffc506;
// $btn-secondary-disabled-hover-border: #ffc506;
// $btn-secondary-badge-color: #ffc506;
// $btn-secondary-bg-color: #ffffff;

//$btn-info-color: #fff;
//$btn-info-bg: #e5d7dc;
//$btn-info-border: #e5d0cf;
// $btn-info-focus-color: ;
// $btn-info-focus-bg: ;
// $btn-info-focus-border: ;
//$btn-info-hover-color: $btn-info-color;
//$btn-info-hover-bg: lighten($btn-info-bg, 10%);
//$btn-info-hover-border: lighten($btn-info-border, 10%);
// $btn-info-active-color: ;
//$btn-info-active-bg: $btn-info-bg;
// $btn-info-active-border: ;
// $btn-info-active-hover: ;
// $btn-info-active-hover-border: ;
// $btn-info-disabled-hover-color: ;
// $btn-info-disabled-hover-border: ;
// $btn-info-badge-color: ;
// $btn-info-badge-bg: ;

$navbar-dark-color:                 rgba($white, .75);
$navbar-dark-hover-color:           rgba($white, .85);
$navbar-dark-active-color:          $white;
$navbar-dark-disabled-color:        rgba($white, .25);
$navbar-light-color:                rgba($black, .5);
$navbar-light-hover-color:          rgba($black, .7);
$navbar-light-active-color:         rgba($black, .9);
$navbar-light-disabled-color:       rgba($black, .3);

// navbar link hover colors
$bg-dark-link-hover-color: #f2f2f2;
$bg-dark-link-hover-bg: #003c4a;


$hr-border-color: #ffc506;

$navbar-fixed-top-bg: #e4af00;
$bg-dark: #cb9e10;
$bg-light: #cb9e10;
$card-border-color: #e4af00;
$table-border-color: #a99628;
$table-accent-bg: #f9f9f9;
$table-hover-bg: #f5f5f5;

$input-color: #555555;
$input-bg: #fdf1d0;
$input-border-color: #fee194;
$input-border-top-color: #ceb688;
$input-border-right-color: #fff;
$input-border-bottom-color: #fff;
$input-border-left-color: #ceb688;

$dropdown-bg: #c75a29;
$dropdown-border-color: rgba(0, 0, 0, 0.15);

$dropdown-link-color: #ffffff;
$dropdown-link-hover-color: #f2f2f2;
$dropdown-link-hover-bg: #b25025;
$dropdown-link-active-color: #ffffff;
$dropdown-link-active-bg: #c75a28;
$dropdown-link-disabled-color: #f2f2f2;
$dropdown-header-color: #ffffff;
$dropdown-divider-bg: $dropdown-bg;

$nav-tabs-link-color: #000;
$nav-tabs-link-bg: $input-bg;
$nav-tabs-link-active-color: #fff;
$nav-tabs-link-active-bg: $dropdown-link-hover-bg;


$nav-pills-link-active-bg: #c75a28;
$pagination-color: #c75a28;
$pagination-bg: #ffffff;
$pagination-border-color: #dddddd;
$pagination-hover-color: #f9a013;
$pagination-hover-bg: #eeeeee;
$pagination-hover-border-color: #dddddd;
$pagination-active-bg: #c75a28;
$pagination-active-border-color: #c75a28;
$pagination-disabled-color: #999999;
$pagination-disabled-bg: #ffffff;
$pagination-disabled-border-color: #dddddd;

$theme-colors: (
        "light":			#ffffff,
        "dark":				#2c1c04
);

$enable-gradients: true;
$enable-shadows: true;
// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //
$bg-light-alt: #ffc506 !important;

$side-column-heading-color: #e4af00;

$middle_outer-inset-shadow-bg: #2c1c04;
$footer_liner-card-inner-border: #ffc506;

$footer-accent-color: #ffc506;
$footer-btn-secondary-color: #f4f4f4;
$footer_liner-border-color: $footer-accent-color;

$autotoc-nav-bg: #c75a29;
$autotoc-color: #ffffff;
$autotoc-nav-link-hover-color: #f2f2f2;
$autotoc-nav-link-hover-bg: #b25025;

// - - - - - - - - - -  - - - - - - Other CSS, if any - - - - - - - - - - - - - - - - - //

.header_outer,
.layout_basic #top_modules,
.postbody-title,
.tiki > .navbar.fixed-top.bg-dark,
//.topbar, .navbar-dark, .topbar .navbar-dark .navbar-nav > li, .topbar .nav > li,
.bg-dark {
  background: #977202 !important;
  background: -moz-linear-gradient(left, #977202 0%, #f99f14 100%) !important;
  background: -webkit-linear-gradient(left, #977202 0%,#f99f14 100%) !important;
  background: linear-gradient(to right, #977202 0%,#f99f14 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#977202', endColorstr='#f99f14',GradientType=1 );
}

//.bg-dark {background: #2c1c04 !important; }
$autotoc-nav-bg: #ffffff;
$autotoc-nav-border: #ffc506;
$autotoc-color: #c75a28;
$autotoc-nav-li-link-hover-color: #f2f2f2;
$autotoc-nav-li-link-hover-bg: #b25025;
$middle_outer-inset-shadow-bg: #2c1c04;
$postbody-title-card-title-color: #fff;