// Files for the Bootswatch Quartz theme for Tiki Wiki CMS Groupware, Bootstrap 4+.
/* Original Bootswatch information:
*
* bootswatch v5.0.0
* Homepage: http://bootswatch.com
* Copyright 2012-2017 Thomas Park
* Licensed under MIT
* Based on Bootstrap
*
* Adapted by the Tiki Community for Tiki Wiki CMS Groupware, Bootstrap 4.4
*/

@import "variables"; // Needs to come first, to override defaults.
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/bootstrap.scss";
@import "../../base_files/scss/_tiki-variables.scss"; // Values/definitions for Tiki variables (outside of Bootstrap variables) such as _tiki-selectors.scss.
@import "../../base_files/scss/_tiki-selectors.scss";
@import "_bootswatch.scss";
@import "../../base_files/scss/_bs3-bs4-transition.scss"; // To be phased out.
@import "_tiki-selectors.scss";
@import "../../base_files/scss/_external-scripts.scss";

// Increase navbar height and side margins to reinstate Bootswatch style
.topbar > * {
	margin-top: .5rem;
	margin-bottom: .5rem;
}

.topbar_modules {
	margin-left: 30px;
	margin-right: 30px;
}

.col2 .navbar,
.col3 .navbar { padding: 0; }