// Cyborg 4.0.0
// Bootswatch


// Variables ===================================================================

$web-font-path: "https://fonts.googleapis.com/css?family=Roboto:400,700" !default;
@import url($web-font-path);

// Navbar ======================================================================

.navbar {

  &.bg-primary {
    border: 1px solid $gray-700;
  }

// &.bg-dark {
//    background-color: #060606 !important; //$body-bg !important;
//    border: 1px solid $gray-700;
//  }

  &.bg-light {
    background-color: $gray-500 !important;
  }

  &.fixed-top {
    border-width: 0 0 1px 0;
  }

  &.fixed-bottom {
    border-width: 1px 0 0 0;
  }

}

.navbar-dark.bg-dark { // Added by Gary  as the above rule wasn't working.
	background: #060606 !important;
}
// Buttons =====================================================================

.btn {

  &-warning,
  &-warning:hover {
    color: $white;
  }
}

// Typography ==================================================================

// Tables ======================================================================

table {
  color: #fff;
}

.table {

  .thead-dark th {
    color: $white;
  }

  &-success {
    &, > th, > td {
      background-color: $success;
    }
  }

  &-info {
    &, > th, > td {
      background-color: $info;
    }
  }

  &-danger {
    &, > th, > td {
      background-color: $danger;
    }
  }

  &-warning {
    &, > th, > td {
      background-color: $warning;
    }
  }

  &-hover {

    .table-success:hover {
      &, > th, > td {
        background-color: darken($success, 5%);
      }
    }

    .table-info:hover {
      &, > th, > td {
        background-color: darken($info, 5%);
      }
    }

    .table-danger:hover {
      &, > th, > td {
        background-color: darken($danger, 5%);
      }
    }

    .table-warning:hover {
      &, > th, > td {
        background-color: darken($warning, 5%);
      }
    }

  }
}

// Forms =======================================================================

legend,
.input-group-addon {
  color: #fff;
}

// Navs ========================================================================

.nav-tabs,
.nav-pills {
  .nav-link {
    color: #fff;

    &:hover {
      background-color: $gray-700;
    }

    &.disabled,
    &.disabled:hover {
      background-color: transparent;
      color: $nav-link-disabled-color;
    }

    &.active {
      background-color: $primary;
    }
  }
}

.breadcrumb {
  a {
    color: #fff;
  }
}

.pagination {
  a:hover {
    text-decoration: none;
  }
}

// Indicators ==================================================================

.alert {
  border: none;
  color: $white;

  a,
  .alert-link {
    color: #fff;
    text-decoration: underline;
  }

  @each $color, $value in $theme-colors {
    &-#{$color} {
      background-color: $value;
    }
  }
}

.badge {

  &-warning {
    color: $white;
  }
}

.close {
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

// Progress bars ===============================================================

// Containers ==================================================================

.list-group-item {

  &:hover {
    background-color: $gray-700;
    color: #fff;
  }

  &-action {
    color: $gray-500;

    .list-group-item-heading {
      color: $gray-500;
    }
  }

  &:hover .list-group-item-heading {
    color: #fff;
  }
}

.card {
  &-header {
    background-color: $gray-800;
  }

  &-header,
  &-title {
    color: #fff;
  }
}

.popover {
  &-title {
    border-bottom: none;
  }
}

// So form submit buttons with icons and text used in popover actions can look just like links
.popover button.btn-link.link-list,
.popover button.btn-link.link-list .icon {
	font-size: $popover-font-size;
}