.duration-picker {
	position: relative;
}

.dp-modal--backdrop {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
	z-index: 10000;
}

.dp-modal--container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.dp-amount--editor__header {
	color: #495057;
	margin: 10px 0px;
}

.dp-amount--editor__header .dp-amount--container {
	font-size: 1.5rem;
	text-align: center;
}

.dp-editor--task-title__input,
.dp-editor--task-title__textarea {
	color: #495057;
	font-weight: 500;
	outline: none;
	border: none;
	padding: 5px 15px;
}


.dp-editor--task-title__wrapper input,
.dp-editor--task-title__wrapper textarea {
	color: #495057;
	font-weight: 500;
	outline: none;
	border: none;
	width: 90%;
}

.dp-clock-spin {
	color: #6d35a6;
}

.dp-amount--view {
	display: inline-block;
	cursor: pointer;
	padding: 0px 2px;
    border-radius: 4px;
}

.dp-amount--editor__header .dp-amount--view {
	padding: 3px 5px;
    border-radius: 4px;
}

.dp-amount--editor__header .dp-amount--view.active {
	background-color: #6d35a6;
	color: white;
}

.dp-editor--container {
	flex-grow: 1;
}

.dp-amount--input__container {
	display: flex;
	flex-direction: column;
	height: 98%;
	width: 98%;
	border-radius: 0.25rem;
	-webkit-box-shadow: 0px 4px 20px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 20px -7px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 20px -7px rgba(0,0,0,0.75);
	background: white;
	overflow: auto;
}

.dp-amount--input__wrapper {
	max-width: 325px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.dp-amount--input__wrapper input {
	width: 50%;
	outline: none;
	border: none;
	font-size: 3.5rem;
}

.dp-amount--input__wrapper input {
	-moz-appearance:textfield;
}

.dp-amount--input__wrapper input::-webkit-outer-spin-button,
.dp-amount--input__wrapper input::-webkit-inner-spin-button {
	display: none;
	-webkit-appearance: none; 
	margin: 0; 
}

.dp-amount--input__label {
	font-weight: bold;
	margin-bottom: 1rem;
}

.dp-amount--input__left-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.dp-amount--input__controls {
	display: flex;
}

.dp-amount--input__controls .dp-amount--input__btn {
	display: inline-block;
	cursor: pointer;
	width: 54px;
	height: 43px;
	padding: 1px 15px;
	text-align: center;
	line-height: 2.2;
	font-size: 1.2rem;
}

.dp-amount--input__controls .dp-amount--input__btn:active {
	color: #007bff;
}

.dp-amount--input__header {
	position: relative;
	padding: 12px;
	border-bottom: 1px #b1b1b1 solid;
}

.dp-amount--input__close {
	position: absolute;
	font-weight: bold;
	cursor: pointer;
	top: 7px;
	right: 10px;
	color: grey;
	transition: color 0.5s ease;
}

.dp-amount--input__close:hover {
	color: #007bff;
}

.dp-amount--input__header--btn {
	padding: 0px 10px;
	cursor: pointer;
	font-weight: bold;
	color: #495057;
	transition: color 0.5s ease;
}

.dp-amount--input__header--btn:first-child {
	padding-left: 0px;
}

.dp-amount--input__header--btn.active,
.dp-amount--input__header--btn:hover {
	color: #6d35a6;
}

.dp-chronometer__container {
	background-color: #6d35a6;
}

.dp-chronometer__group {
	display: flex;
	align-items: center;
}

.dp-chronometer-btn {
	flex-grow: 1;
	text-align: center;
	height: 60px;
	cursor: pointer;
	color: rgb(236, 236, 236);
	line-height: 3.6rem;
	border-radius: 4px;
	transition: color 0.5s ease;
}

.dp-chronometer__info {
	font-weight: bold;
}

.dp-history--container {
	flex-grow: 1;
	font-size: 0.85rem;
}

.dp-history--container tr {
	cursor: pointer;
}

.dp-history--container tr.active {
	background-color: #e0efff;
}

/* Utils */
.unselectable {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.fade-enter-active, .fade-leave-active {
	transition: opacity .2s ease-in-out;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0;
}

@media (min-width: 768px) {
	.dp-amount--input__container {
		width: 550px;
		height: auto;
		max-height: 97%;
		min-height: 300px;
	}
}