// $Id$
/* Bootswatch theme adapted by the Tiki Community for Tiki Wiki CMS Groupware */
/* Original Bootswatch information: */
/*!
 * Bootswatch v4.0.0-alpha.6
 * Homepage: https://bootswatch.com
 * Copyright 2012-2017 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
*/

@import "variables"; // Needs to come first, to override defaults.
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/bootstrap.scss";
@import "../../base_files/scss/_tiki-variables.scss"; // Values/definitions for Tiki variables (outside of Bootstrap variables) such as _tiki-selectors.scss.
@import "_bootswatch.scss";
@import "../../base_files/scss/_tiki-selectors.scss";
@import "../../base_files/scss/_bs3-bs4-transition.scss";
@import "../../base_files/scss/_external-scripts.scss";

//Theme variables aren't overriding default values for these.
body {
  color: #839496;
  background-color: #002b36;
}

.tiki_trackers {
	.icon-status-open, .icon-status-pending, .icon-status-closed {
		filter: drop-shadow(0px 0px 1px black);
	}
}

// Increase navbar height and side margins to reinstate Bootswatch style
.topbar > * {
	margin-top: .5rem;
	margin-bottom: .5rem;
}

.topbar_modules {
	margin-left: 30px;
	margin-right: 30px;
}