// Darkly 4.0.0
// Bootswatch


// Variables ===================================================================

$web-font-path: "https://fonts.googleapis.com/css?family=Lato:400,700,400italic" !default;
@import url($web-font-path);

// Navbar ======================================================================

.bg-light {
	background-color: $success !important;

	&.navbar-light .navbar-nav {
		.nav-link:focus,
		.nav-link:hover,
		.active > .nav-link,
		& a:not(.dropdown-item),
		.dropdown-item .tips {
			color: darken($primary, 20%); // !important;
		}
	}
}

// Buttons =====================================================================

// Typography ==================================================================

.blockquote {
	&-footer {
		color: $gray-600;
	}
}

// Tables ======================================================================

.table {
	&-success,
	&-info,
	&-warning,
	&-danger {
		color: #fff;
	}
}

.table {

	.thead-dark th {
		color: $white;
	}

	&-success {
		&, > th, > td {
			background-color: $success;
		}
	}

	&-info {
		&, > th, > td {
			background-color: $info;
		}
	}

	&-danger {
		&, > th, > td {
			background-color: $danger;
		}
	}

	&-warning {
		&, > th, > td {
			background-color: $warning;
		}
	}

	&-hover {

		.table-success:hover {
			&, > th, > td {
				background-color: darken($success, 5%);
			}
		}

		.table-info:hover {
			&, > th, > td {
				background-color: darken($info, 5%);
			}
		}

		.table-danger:hover {
			&, > th, > td {
				background-color: darken($danger, 5%);
			}
		}

		.table-warning:hover {
			&, > th, > td {
				background-color: darken($warning, 5%);
			}
		}

	}
}

// Forms =======================================================================

.input-group-addon {
	color: #fff;
}

// Navs ========================================================================

.nav-tabs,
.nav-pills {

	.nav-link,
	.nav-link.active,
	.nav-link.active:focus,
	.nav-link.active:hover,
	.nav-item.open .nav-link,
	.nav-item.open .nav-link:focus,
	.nav-item.open .nav-link:hover {
		color: #fff;
	}
}

.breadcrumb a {
	color: #fff;
}

.pagination {
	a:hover {
		text-decoration: none;
	}
}

// Indicators ==================================================================

.close {
	opacity: 0.4;

	&:hover,
	&:focus {
		opacity: 1;
	}
}

.alert {
	border: none;
	color: $white;

	a,
	.alert-link {
		color: #fff;
		text-decoration: underline;
	}

	@each $color, $value in $theme-colors {
		&-#{$color} {
			background-color: $value;
		}
	}
}

// Progress bars ===============================================================

// Containers ==================================================================


.list-group-item-action {
	color: #fff;

	&:hover,
	&:focus {
		background-color: $gray-700;
		color: #fff;
	}

	.list-group-item-heading {
		color: #fff;
	}
}

// So form submit buttons with icons and text used in popover actions can look just like links
.popover button.btn-link.link-list,
.popover button.btn-link.link-list .icon {
	font-size: $popover-font-size;
}