// $Id$
/*! Original theme information:
 * bootswatch v3.3.6
 * Homepage: http://bootswatch.com
 * Copyright 2012-2015 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
 *
 * Adapted by the Tiki Community for Tiki Wiki CMS Groupware
 */
@import "variables"; // Needs to come first, to override defaults.
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/bootstrap.scss";
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss"; // ...compiling errors.
@import "../../base_files/scss/_tiki-variables.scss"; // Values/definitions for Tiki variables (outside of Bootstrap variables) such as _tiki-selectors.scss.
@import "_bootswatch.scss";
@import "../../base_files/scss/_tiki-selectors.scss";
@import "../../base_files/scss/_bs3-bs4-transition.scss";
@import "../../base_files/scss/_external-scripts.scss";

.textarea-toolbar a.toolbar { color: #222; }
.dropdown-menu.mega-menu a { color: $link-color !important; }

// Increase navbar height and side margins to reinstate Bootswatch style
.topbar > * {
	margin-top: .5rem;
	margin-bottom: .5rem;
}

.topbar_modules {
	margin-left: 30px;
	margin-right: 30px;
}